@model ProjetDotNet.Models.FormsModels.AddSurveyForm
<div class="text-center">
    <h1 class=" display-4 ">Add Survey</h1>
</div>

<div class="container m-auto w-50 ">
    <div class="justify-content-center">
    @using(Html.BeginForm("Create","Admin",FormMethod.Post)){
        <div class="form-group m-3">
            <label>Question :</label>
            <input type="text" class="form-control" name="Question" placeholder="enter the question of Survey" asp-for="Question" required>
        </div>
            <div class="form-group m-3">
                <label>Description :</label>
                <input type="text" class="form-control" name="Description" placeholder="write the description" asp-for="Description" required>
            </div>
            <div class="form-group m-3">
            <label >Option 1 :</label>
            <input type="text" class="form-control" name="Option1" placeholder="Option 1" required asp-for="Option1">
        </div>
            <div class="form-group m-3">
            <label >Option 2 :</label>
                <input type="text" class="form-control" name="Option2" placeholder="Option 2" required asp-for="Option2">
        </div>
        <div id="newRow">
            <input type="hidden" id="total" value="2" />
        </div>
            <div class="justify-content-center btn-group px-3  g-3 w-100 ">
           <button id="addRow" type="button" class="btn btn-outline-danger col-auto mr-1 ">Add</button>
                <input type="submit" class="btn btn-dark  col-auto ml-1 " value="Submit" />
       </div>
    }
    </div>
</div>
@section Scripts
    {
    <script>
        $("#addRow").click(function () {
            var rowCount = parseInt($("#total").val());
            if(rowCount < 6){
                rowCount++;
                $("#total").val(rowCount);
                var html = '';
                html += '<div class="form-group m-3 " id="inputRow">';
                html += "<label >Option " + rowCount +" : </label>";
                html += '<div class="input-group mb-3">'
                html += "<input type=" + '"text"' + "class=" + '"form-control row-9"' + "name= " + '"Option' + rowCount + '"' + "placeholder = " + '"Option ' + rowCount + '"' + "asp-for=" + '"Option' +rowCount+'" >'
                html += '<button id="removeRow" type="button" class="btn btn-danger row-3">Remove</button>';
                html += '</div>';
                html += '</div>';

                $('#newRow').append(html);
            }
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
}
