<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetDotNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetDotNet.styles.css" asp-append-version="true" />
</head>
<body style="overflow-x : hidden;">
    <div class="d-flex flex-row position-relative vw-100 ">
        <div class="d-block " style="width: 20%;">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 position-fixed" style="width: 20%; ">
                <div class=" w-auto text-center">
                    <a href="/" class=" mb-md-0 me-md-auto text-white text-decoration-none">
                        <img class="rounded-circle border-3 border-info" src="./img/logo.png" alt="" width="100" height="100">
                        <div class="fs-4">Insat Surveys</div>
                    </a>
                </div>

                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link text-white" aria-atomic="true">
                            <i class="fa-solid fa-house"></i>
<<<<<<< HEAD
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
=======
                        Home
                    </a>
                </li>
                <li>
                    <a asp-controller="@ViewBag.result" asp-action="Results" class="nav-link text-white">
>>>>>>> a5968c49ff85f9430d74403a6c488007c8bf4958
                            <i class="fa-solid fa-square-poll-vertical"></i>
                            Results
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Profil" class="nav-link text-white">
                            <i class="fa-solid fa-user"></i>
                            @ViewData["name"]
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="d-flex ">
                    <div class=" flex-grow-1">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>Yassine Dhaouadi</strong>
                    </div>
                    <button type="button" class="btn btn-danger align-self-end"><i class="fa-solid fa-power-off"></i></button>
                </div>
            </div>
        </div>
        <div class="align-items-center " style="width: 80%">
            <main role="main" class="p-3 justify-content-center h-100 w-100" style="overflow: hidden;">
                @RenderBody()
            </main>
<<<<<<< HEAD

=======
>>>>>>> a5968c49ff85f9430d74403a6c488007c8bf4958
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d368b86c3f.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>