 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetDotNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetDotNet.styles.css" asp-append-version="true" />
    <link href="./css/index.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">
        <!-- Change The C -->
  @using(Html.BeginForm("Index","Login",FormMethod.Post)){ 
    <img class="mb-4 rounded-circle border-3 border-info" src="./img/logo.png" alt="" width="175" height="175">
    <h1 class="h3 mb-3 fw-normal">Please login</h1>

    <div class="form-floating">
      @Html.TextBox("Email","", new { @class = "form-control", @type="email", @id="floatingInput" })
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      @Html.TextBox("Password","", new { @class = "form-control", @type="password", @id="floatingPassword" })
      <label for="floatingPassword">Password</label>
    </div>
            <div class="form-floating d-flex float-end">
                <a class="text-body" asp-controller="PasswordLost" asp-action="Index">Forgot password?</a>
            </div>
    <button class="w-100 btn btn-lg btn-dark mt-2" type="submit">Log In</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a class="link-danger" asp-controller="SignUp" asp-action="Index">Register</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; INSAT 2022 - 2023 </p>
  }
</main>


    
  </body>
</html>
