<<<<<<< HEAD
﻿<div class="container">
    <div class="row">
        
@{for(int i=0;i<3;i++){
                <div class="col-md-4">
    <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Report des DS </h5>
                <p class="card-text">A cause de grevse de transport on propose le report des ds de demain</p>
                <a href="#" class="btn btn-dark">Vote</a>
            </div>
            <div class="card-footer text-muted">
                Expires in 2 hours 
            </div>
    </div>
</div>
}
}
</div>
</div>
=======
﻿{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> 6bd57e81f629af6346a83ad2f1883ea4303c466b
